@model Order

@{
    ViewBag.Title = "Order Completed";
    Layout = "_Layout";
}

<h2>title</h2>

<div class="jumbotron">

    <h2 class="display-4">Hello, I'm your order!</h2>
    <h2 class="display-3">I was made by you on @Model.DateCreated. I costed you @Model.TotalPrice.</h2>


    <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-primary btn-block btn-lg ml-2" type="button" asp-controller="Home" asp-action="Products" role="button">Go to home page!</button></div>


</div>